{
code = 0;
error = "";
extraInfo =     (
);
params =     {
"REQUEST_METHOD" = GET;
id = 309;
r = "cartoonSet/detail";
};
results =     {
author = "\U5c0f\U5723";
cartoonChapterCount = 23;
cartoonChapterList =         (
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10158;
name = "s\U670b\U53cbb";
priority = 1;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 258618;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10159;
name = "\U77ee\U51ac\U74dc";
priority = 2;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 230987;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10160;
name = "\U9738\U738b\Uff01\U9910";
priority = 3;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 549838;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10161;
name = "\U88ab\U76d7\U53f7\U540e\U7684\U60b2\U54c0";
priority = 4;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 474689;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10162;
name = "\U8868\U767d~";
priority = 5;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 321337;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10163;
name = "\U522b\U78b0\U6211\U7684\U5446\U6bdb\Uff0c\U8fd9\U662f\U6211\U7684\U4ee3\U8868\Uff01";
priority = 6;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 439094;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10164;
name = "\U522b\U4eba\U5bb6\U7684\U94f2\U5c4e\U5b98";
priority = 7;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 260088;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 1;
id = 10165;
name = "\U4e0d\U597d\U7626~";
priority = 8;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 310155;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10166;
name = "\U94f2\U5c4e\U5b98\U7684\U6e05\U6668";
priority = 9;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 218434;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10167;
name = "\U94f2\U5c4e\U5b98\U773c\U4e2d\U53ea\U6709\U55b5";
priority = 10;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 274692;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10168;
name = "\U5927\U5934";
priority = 11;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 296288;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10169;
name = "\U5230\U6b64\U4e00\U6320~";
priority = 12;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 240509;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10311;
name = "\U7b2c\U55b5\U5957\U5e7f\U64ad\U4f53\U64cd";
priority = 13;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 261000;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10312;
name = "\U653e\U5c41";
priority = 14;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 255657;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10674;
name = "\U7ed9\U70b9\U9690\U79c1";
priority = 15;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 212702;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10675;
name = "\U5173\U4e8e\U672b\U65e5\U90a3\U4e9b\U4e8b1";
priority = 16;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 297092;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10676;
name = "\U5173\U4e8e\U4f60\U53c8\U80d6\U4e86";
priority = 17;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 253766;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10843;
name = "\U9759\U9759\Uff01";
priority = 18;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 286221;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10937;
name = "\U5377\U6bdb\U7684\U6765\U5386";
priority = 19;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 278901;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10938;
name = "\U6050\U6016\Uff01\U80c6\U5c0f\U52ff\U5165\Uff01";
priority = 20;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 267528;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10939;
name = "\U793c\U7269";
priority = 21;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 281954;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10940;
name = "\U604b\U4fbf\U4fbf";
priority = 22;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 242171;
},
{
cartoonId = 309;
cartoonName = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
downloadStatus = 0;
id = 10941;
name = "\U57cb\U4e86";
priority = 23;
readStatus = 0;
status = 1;
totalAlbumCount = 1;
totalChapterSize = 212865;
}
);
categorys = "5,16";
collectionStatus = 0;
commentCount = 4;
commentList =         (
{
content = "\U840c\U840c\U54d2\Uff01";
contentValue = "\U6211\U7684\U8bc4\U8bba\Uff1a\U840c\U840c\U54d2\Uff01";
createTime = "2016-03-06 08:30:25";
createTimeValue = "1\U5929\U524d";
id = 29953;
type = 4;
userID = 83099;
userIDInfo =                 {
id = 83099;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/b56f5d9c5af6f1f4d08356406807b7ec_5930..jpg?e=1457228472&token=8bLqz-KeWiZ1mVJKV2Eg6lak2u0NTxmtFUzUUH-A:7TxGhx96P8bd-4zcRlsrmS1pCHQ=";
informCount = 0;
name = "\U66fe\U7ecf\U7684\U4f60\Uff0c\U5f52\U5c5e\U4e86\U56de\U5fc6";
};
valueID = 309;
valueType = 1;
},
{
content = "\U8214\U5c4fing  \U5361\U74e6\U4f9d[\U8272]";
contentValue = "\U6211\U7684\U8bc4\U8bba\Uff1a\U8214\U5c4fing  \U5361\U74e6\U4f9d[\U8272]";
createTime = "2016-02-21 11:32:48";
createTimeValue = "15\U5929\U524d";
id = 25849;
type = 4;
userID = 72466;
userIDInfo =                 {
id = 72466;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/20fc2917e221fe5bbc411793093d4dae_7495.0..jpg?e=1456116771&token=8bLqz-KeWiZ1mVJKV2Eg6lak2u0NTxmtFUzUUH-A:cGxMFhI5qMHWZn36nKgJ2kdErJ8=";
informCount = 0;
name = "\U866b\U7eb8\U4f4f\U8fdb\U82f9\U679c\U5fc3\U810f";
};
valueID = 309;
valueType = 1;
},
{
content = "\U5361\U54c7\U4f0a~";
contentValue = "\U6211\U7684\U8bc4\U8bba\Uff1a\U5361\U54c7\U4f0a~";
createTime = "2016-02-15 13:47:32";
createTimeValue = "21\U5929\U524d";
id = 24129;
type = 4;
userID = 65824;
userIDInfo =                 {
id = 65824;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/4ba22ef6fe1eea07cf83f17d1821afb6_10784..jpg";
informCount = 0;
name = "\U68a7\U6850\U864e\U5b50";
};
valueID = 309;
valueType = 1;
},
{
content = "\U597d\U840c\U554a";
contentValue = "\U6211\U7684\U8bc4\U8bba\Uff1a\U597d\U840c\U554a";
createTime = "2016-02-08 18:07:33";
createTimeValue = "28\U5929\U524d";
id = 21582;
type = 4;
userID = 63545;
userIDInfo =                 {
id = 63545;
images = "http://q.qlogo.cn/qqapp/1104747833/83A32648012570DF4A3B4643B5AF5A77/100";
informCount = 0;
name = "\U604d\U7136\U5982\U68a6\U3001\U96ea\U822c\U51c9";
};
valueID = 309;
valueType = 1;
}
);
contentCount = 4;
createTime = "2016-02-03 15:41:34";
currentReadAlbumId = "";
currentReadChapterId = "";
id = 309;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/a7c97176997772866eb6b0526984131e_77150.jpeg";
introduction = " \U55b5\U4e3b\U5b50\U65e0\U8282\U64cd\Uff0c\U55b5\U4e3b\U5b50\U5403\U9971\U559d\U8db3\U53bb\U6563\U6b65\Uff0c\U55b5\U4e3b\U5b50la\U81ed\U81ed\Uff0c\U653epp\U90fd\U90a3\U4e48\U6709\U578b\U3002\U94f2\U5c4e\U5b98\U597d\U7231\U4f60~";
isOver = 0;
level = 0;
modifyTime = "2016-02-03 15:41:34";
name = "\U55b5\U5c0f\U82d7-\U4e0d\U840c\U4e5f\U4e00\U8138\U8840";
priority = 9;
readMode = 0;
recentUpdateTime = "2016-03-07";
remark = "";
status = 1;
thirdID = "";
thirdUpdateTime = "";
totalCartoonSize = 6962056;
totalChapterCount = 23;
updateInfo = "\U66f4\U65b0\U81f3\U7b2c23\U8bdd";
updateType = 5;
updateValue = "\U770b\U55b5\U55b5\U5fc3\U60c5";
updateValueLabel = "\U770b\U55b5\U55b5\U5fc3\U60c5\U66f4\U65b0";
userID = 52212;
userIDInfo =         {
id = 52212;
informCount = 0;
name = "\U5706\U8138\U8089\U5305\U8036";
username = 15026951793;
};
};
}