{
code = 0;
error = "";
extraInfo =     {
countTotal = 9;
currentAlbumId = 278810;
lastChapterId = "<null>";
nextChapterId = "<null>";
otherTitle = "";
otherType = 0;
totalChapterSize = 1653445;
};
params =     {
"REQUEST_METHOD" = GET;
chapterId = 11184;
isSize = 1;
orderType = 1;
page = 1;
r = "cartoonChapter/albumList";
size = 10;
};
results =     (
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:55";
id = 278810;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/84313d799062ef6dbf8a3bec25301f64_490138.jpg";
imgHeight = 962;
imgSize = 490138;
imgWidth = 680;
mineType = "";
modifyTime = "2016-03-09 10:40:55";
priority = 1;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:56";
id = 278811;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/780bd431a3ae18d9374688e9ea6c1f2c_177074.jpg";
imgHeight = 1579;
imgSize = 177074;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:56";
priority = 2;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:56";
id = 278812;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/06dcc21b5fd1ad77f24b5f535c960885_139667.jpg";
imgHeight = 1486;
imgSize = 139667;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:56";
priority = 3;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:57";
id = 278813;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/be06eec94fd6da7d6b3519afd005648c_127319.jpg";
imgHeight = 1373;
imgSize = 127319;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:57";
priority = 4;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:57";
id = 278814;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/d894890a2d1bde1f88045f9602d7ca4a_143336.jpg";
imgHeight = 2263;
imgSize = 143336;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:57";
priority = 5;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:57";
id = 278815;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/082e868ae271021c2004e1e7ddd79ce4_181377.jpg";
imgHeight = 1631;
imgSize = 181377;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:57";
priority = 6;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:58";
id = 278816;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/740985cf907a7d1edfabad345d06a61c_134837.jpg";
imgHeight = 2464;
imgSize = 134837;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:58";
priority = 7;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:58";
id = 278817;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/4483e86ec95835465218300d86c98efd_130771.jpg";
imgHeight = 2263;
imgSize = 130771;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:58";
priority = 8;
status = 1;
userID = 52212;
},
{
cartoonId = 359;
cartoonName = "\U53cd\U6d3e\U5f81\U670d\U624b\U518c";
chapterId = 11184;
chapterIndex = 1;
chapterName = "\U7b2c1\U8bdd";
createTime = "2016-03-09 10:40:58";
id = 278818;
images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/cb8fcaaed8b8932c3b5f6edf4170078f_128926.jpg";
imgHeight = 2263;
imgSize = 128926;
imgWidth = 800;
mineType = "";
modifyTime = "2016-03-09 10:40:58";
priority = 9;
status = 1;
userID = 52212;
}
);
}